master/bukopinmobile-master-model/src/main/resources/wsdl/exchangerate-v2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://xml.asyst.co.id/commons/ws/fault" xmlns:ns1="http://xml.asyst.co.id/cbs/exchangerate" xmlns:tns="http://xmlns.example.com/1571040722628" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://xml.asyst.co.id/commons/ws/header" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1571040722628">
    <wsdl:types>
        <xs:schema xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:head="http://xml.asyst.co.id/commons/ws/header" targetNamespace="http://xml.asyst.co.id/commons/ws/header" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="HeaderRQ">
                <xs:sequence>
                    <xs:element name="ReqDateTime" type="xs:dateTime"/>
                    <xs:element name="ClientTxnID" type="xs:string"/>
                    <xs:element name="IsLastTxn" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="Credentials">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ClientID" type="xs:string"/>
                                <xs:element name="Identity" minOccurs="0">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="UserID" type="xs:string"/>
                                            <xs:element name="Password" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="Session" minOccurs="0">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="SessionID" type="xs:string"/>
                                            <xs:element name="SequenceNumber" type="xs:int"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HeaderRS">
                <xs:sequence>
                    <xs:element name="ResDateTime" type="xs:dateTime"/>
                    <xs:element name="ClientTxnID" type="xs:string"/>
                    <xs:element name="IsLastTxn" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="Session" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="SessionID" type="xs:string"/>
                                <xs:element name="SequenceNumber" type="xs:int"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="ResCode" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="HeaderRQ" type="head:HeaderRQ"/>
            <xs:element name="HeaderRS" type="head:HeaderRS"/>
        </xs:schema>
        <xs:schema xmlns="http://xml.asyst.co.id/cbs/exchangerate" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.asyst.co.id/cbs/exchangerate" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="currencyType">
                <xs:sequence>
                    <xs:element name="currencycode" type="xs:string"/>
                    <xs:element name="currencyname" type="xs:string" minOccurs="0"/>
                    <xs:element name="currencydescription" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="exchangerateType">
                <xs:sequence>
                    <xs:element name="kurstax" type="xs:string"/>
                    <xs:element name="kursrevaluasi" type="xs:string"/>
                    <xs:element name="kursusdbaserate" type="xs:string"/>
                    <xs:element name="kursbanknotebuy" type="xs:string"/>
                    <xs:element name="kursbanknotesell" type="xs:string"/>
                    <xs:element name="kursttbuy" type="xs:string"/>
                    <xs:element name="kursttsell" type="xs:string"/>
                    <xs:element name="kursmailtransferbuy" type="xs:string"/>
                    <xs:element name="kursmailtransfersell" type="xs:string"/>
                    <xs:element name="kurschequesbuy" type="xs:string"/>
                    <xs:element name="kurschequessell" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="currency" type="ns1:currencyType"/>
            <xs:element name="exchangerate" type="ns1:exchangerateType"/>
            <xs:element name="reqexchangerate">
                <xs:annotation>
                    <xs:documentation>Comment describing your root element</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:currency"/>
                        <xs:element ref="ns1:exchangerate" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="resexchangerate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:currency"/>
                        <xs:element ref="ns1:exchangerate"/>
                        <xs:element ref="ns1:responsemessage"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="responsemessage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="responsecode" type="xs:string"/>
                        <xs:element name="errormessage" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fault="http://xml.asyst.co.id/commons/ws/fault" targetNamespace="http://xml.asyst.co.id/commons/ws/fault" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="anydata">
                <xs:sequence>
                    <xs:any processContents="skip" namespace="##any"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="BWErrDetails">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="fault:ErrHeader" minOccurs="0"/>
                        <xs:element ref="fault:ErrReport" minOccurs="0"/>
                        <xs:element ref="fault:ProviderErrs" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Err">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ErrCat" type="xs:string" minOccurs="0"/>
                        <xs:element name="ErrCatDesc" type="xs:string" minOccurs="0"/>
                        <xs:element name="ErrCode" type="xs:string" minOccurs="0"/>
                        <xs:element name="ErrDesc" type="xs:string" minOccurs="0"/>
                        <xs:element name="ErrSev" type="xs:string" minOccurs="0"/>
                        <xs:element name="ErrSrc" type="xs:string"/>
                        <xs:element name="ErrTgt" type="xs:string"/>
                        <xs:element name="ErrDateTime" type="xs:dateTime"/>
                        <xs:element name="ErrDetail" type="xs:string" minOccurs="0"/>
                        <xs:element ref="fault:BWErrDetails" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ErrHeader">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="BWTxnID" type="xs:string"/>
                        <xs:element name="ClientTxnID" type="xs:string"/>
                        <xs:element name="ClientID" type="xs:string"/>
                        <xs:element name="BWProcess" type="xs:string"/>
                        <xs:element name="BWActivity" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ErrList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="fault:Err" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ErrReport">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="StackTrace" type="xs:string" minOccurs="0"/>
                        <xs:element name="Msg" type="xs:string"/>
                        <xs:element name="FullClass" type="xs:string" minOccurs="0"/>
                        <xs:element name="Class" type="xs:string" minOccurs="0"/>
                        <xs:element name="ProcessStack" type="xs:string" minOccurs="0"/>
                        <xs:element name="MsgCode" type="xs:string" minOccurs="0"/>
                        <xs:element name="Data" type="fault:anydata" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ProviderErrs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="faultcode" type="xs:string"/>
                        <xs:element name="faultstring" type="xs:string"/>
                        <xs:element name="faultactor" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="CBSExchangeRate">
        <wsdl:port name="ExchangeRatePTEndpoint1" binding="tns:ExchangeRatePTEndpoint1Binding">
            <soap:address location="${soap.url.bukopin.exchangeRate}"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="ExchangeRatePT">
        <wsdl:operation name="GetExchangeRate">
            <wsdl:input message="tns:ExchangeRateRQ"/>
            <wsdl:output message="tns:ExchangeRateRS"/>
            <wsdl:fault name="fault1" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="GetExchangeRateSMS">
            <wsdl:input message="tns:ExchangeRateRQ"/>
            <wsdl:output message="tns:ExchangeRateRS"/>
            <wsdl:fault name="fault1" message="tns:Fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ExchangeRatePTEndpoint1Binding" type="tns:ExchangeRatePT">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetExchangeRate">
            <soap:operation style="document" soapAction="http://ws.bukopin.co.id/cbs/exchangerate/exchangeratetransaction"/>
            <wsdl:input>
                <soap:body use="literal" parts="exchangeRateRQ"/>
                <soap:header use="literal" message="tns:ExchangeRateRQ" part="headerRQ"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="exchangeRateRS"/>
                <soap:header use="literal" message="tns:ExchangeRateRS" part="headerRS"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetExchangeRateSMS">
            <soap:operation style="document" soapAction="http://ws.bukopin.co.id/cbs/exchangerate/exchangeratesmstransaction"/>
            <wsdl:input>
                <soap:body use="literal" parts="exchangeRateRQ"/>
                <soap:header use="literal" message="tns:ExchangeRateRQ" part="headerRQ"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="headerRS exchangeRateRS"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="ExchangeRateRQ">
        <wsdl:part name="headerRQ" element="ns0:HeaderRQ"/>
        <wsdl:part name="exchangeRateRQ" element="ns1:reqexchangerate"/>
    </wsdl:message>
    <wsdl:message name="ExchangeRateRS">
        <wsdl:part name="headerRS" element="ns0:HeaderRS"/>
        <wsdl:part name="exchangeRateRS" element="ns1:resexchangerate"/>
    </wsdl:message>
    <wsdl:message name="Fault">
        <wsdl:part name="fault" element="ns2:Err"/>
    </wsdl:message>
</wsdl:definitions>